{{#extend "body_class"}}
class="gray-bg"
{{/extend}}
{{#extend "body"}}
<main>
    <header>
        <div class="name">
            <h1>David<br> Friedrich</h1>
            <h2>Javascript Developer</h2>
        </div>
        <div class="information">
            <ul>
                <li>
                    <i class="fal fa-envelope"></i><span><a
                            href="mailto:thefeddy@gmail.com">thefeddy@gmail.com</a></span>
                </li>
                <li>
                    <i class="fal fa-location-circle"></i><span>Orlando, FL</span>
                </li>
            </ul>
        </div>
    </header>
</main>
{{/extend}}